apiVersion: v1
contexts:
  - context:
      cluster: minikube
      extensions: []
      namespace: default
      user: minikube
    name: minikube
clusters:
  - cluster:
      # certificate-authority: $USERHOME_DIR/.minikube/ca.crt
      extensions:
      - extension: []
      name: demo_cluster
      server: "${DEMO_CLUSTER_IP}:${DEMO_CLUSTER_PORT}"
    name: minikube
